@model processDataShare.Models.MainIndex_model
@{
    <meta http-equiv="refresh" content="5">
    <!-- Obnoví stránku každých 5 sekúnd -->
    ViewData["Title"] = "Home Dashboard";


    string colorStatus_Asq5_ROB1 = Model.ASQ_5_ROB1_Downtime_Time > 0 ? "bg-danger" : "bg-success";
    string productionStatus_Asq_ROB1 = Model.ASQ_5_ROB1_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_5_ROB1_Downtime_Time+"min";
    string colorStatus_Asq5_ROB2 = Model.ASQ_5_ROB2_Downtime_Time > 0 ? "bg-danger" : "bg-success";
    string productionStatus_Asq_ROB2 = Model.ASQ_5_ROB2_Downtime_Time == 0 ? "In Production" : "Nevyrába " + Model.ASQ_5_ROB2_Downtime_Time + "min";


    string colorStatus_OpelArmrestFD = Model.OpelArmrestFD_actualDowntime > 0 ? "bg-danger" : "bg-success";
    string productionStatus_OpelArmrestFD = Model.OpelArmrestFD_actualDowntime == 0 ? "In Production" : "Nevyrába " +               Model.OpelArmrestFD_actualDowntime + "min";
}

<div class="d-flex flex-wrap text-white-50 justify-content-xl-center ">

    @*ASQ5_Container*@
    <div class="text-black bg-success-subtle col-md-6 col-lg-4  col-xxl-2 justify-content-between border border-2 border-info-subtle mx-1 mb-2 shadow-lg card ">
        <h1 class="w-100 display-6 text-center">ASQ 5</h1>
        <div class="d-flex">
            <div class="text-center @colorStatus_Asq5_ROB1 text-black justify-content-between max-w w-50 rounded-2">
                <h1 class="fs-3 text-success-emphasis border-bottom border-1 border-dark-subtle pb-2">[Forma A]</h1>
                <p>Stav<br /> <span class="text-white fs-5 mx-1 bg-dark p-1">@productionStatus_Asq_ROB1</span> </p>
            </div>
            <div class="text-center @colorStatus_Asq5_ROB2 text-black justify-content-between max-w  w-50 rounded-2">
                <h1 class="fs-3 text-success-emphasis border-bottom border-1 border-dark-subtle pb-2">[Forma B]</h1>
                <p>Stav<br /> <span class="text-white fs-5 bg-dark p-1">@productionStatus_Asq_ROB2</span></p>
            </div>
        </div>
        <a class="btn btn-primary w-100 " asp-controller="Home" asp-action="Asq5">Aktualne parametre info</a>
    </div>

        

    @*Opel Armrest FD container*@
    <div class="text-center card @colorStatus_OpelArmrestFD text-black w-auto  mx-1 mb-2 shadow-lg justify-content-between">
        <div class="position-absolute w-100 h-100 bg-white" ><p>@Model.connectionAsq5.</p></div>
        <h1 class="display-6 border-bottom border-1 border-dark-subtle bg-success-subtle pb-2 px-1 text-center">Opel Armrest FD</h1>
        <p>Stav <br /><span class="text-white fs-5 bg-dark p-1 ">@productionStatus_OpelArmrestFD</span></p>
        
        <a class="btn btn-primary w-100 " asp-controller="Home" asp-action="OpelArmrestFD">Aktualne parametre info</a>
    </div>

  

</div>

