@model processDataShare.Models.OpelArmrestFront_model
@{
    <meta http-equiv="refresh" content="3">
    ViewData["Title"] = "Opel Armrest FD";

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>Right part :@Model.rightPart </p>
    <p>Left part:  @Model.leftPart </p>
    <p>Actual step :  @Model.actualStep </p>
    <p>Machine downtime :  @Model.actualDowntime m</p>
    
</body>
</html>
